<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backtotopnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,84},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>backtotoppressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,84},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>correct.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{128,100}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>setting_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>setting_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shape0.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>shape1.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>shape2.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>shape3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>shape4.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>shape5.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>shape6.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>shape7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>weight-balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,62},{52,80}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>weight-bike.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,2},{80,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>weight-bowling.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>weight-car.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,84},{72,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{72,28}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>weight-eightball.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>weight-elephant.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,2},{80,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>weight-feather.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,46},{62,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{62,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>weight-motorcycle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,2},{78,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{78,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>weight-mug.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,56},{72,64}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{72,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>weight-pencil.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>weight-refrigerator.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,74},{46,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{46,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>weight-snow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>weight-t-shirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,2},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>weight-whale.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,84},{80,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{80,32}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1802,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3aa4f226df0ca78352f493b3656fe944:4b0db9548cd2b32a8b27f1d4dadc8c3a:ef86396999e18097aad14daa6638d5f9$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
