<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>card-front.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>card-place-holder.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{248,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e11edddc7b24e2f4286c060e6339d85:2660bd229845b4913bf2c85111fcf7e8:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
